<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
  <div class="custom-shape-divider-top-1708992257">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>
  <div class="cs-container">
    <!--Nav Logo-->
    <a href="/" class="cs-logo" aria-label="back to home">
      <img src="/assets/images/logos/logos-01.png" alt="logo" width="210" height="29" aria-hidden="true" decoding="async">
    </a>
    <!--Navigation List-->
    <nav class="cs-nav" role="navigation">
      <!--Mobile Nav Toggle-->
      <button class="cs-toggle" aria-label="mobile menu toggle">
        <div class="cs-box" aria-hidden="true">
          <span class="cs-line cs-line1" aria-hidden="true"></span>
          <span class="cs-line cs-line2" aria-hidden="true"></span>
          <span class="cs-line cs-line3" aria-hidden="true"></span>
        </div>
      </button>
      <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
     
        <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
          {% set navPages = collections.all | eleventyNavigation %}
          {# Loop through all pages with a eleventyNavigation in the frontmatter #}
          {% for entry in navPages %}
            {# Define a hasChild variable to make it easier to test what links are dropdowns#}
            {% set hasChild = entry.children.length %}

            {# If this page is a dropdown, give it the appropriate classes, icons and accessibility attributes#}
            <li class="cs-li {% if hasChild %} cs-dropdown {% endif %}" {% if hasChild %} tabindex="0"{% endif %}>

              {# Similarly, if the link is active, apply the necessary classes #}
              <a href="{{ entry.url }}" class="cs-li-link {% if entry.url == page.url %} cs-active {% endif %}">
                {{ entry.key }}
                {% if hasChild %}
                  <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                {% endif %}
              </a>

              {# Dropdowns have another ul/li set up within the parent li. Render in the same way as a normal link #}
              {% if hasChild %}
                <ul class="cs-drop-ul">
                  {% for child in entry.children %}
                    <li class="cs-drop-li">
                      <a href="{{ child.url }}" class="cs-li-link cs-drop-link">{{ child.key }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>

  </div>
</header>