---
preloadCSS: '/assets/css/product.css'
eleventyComputed:
    title: '{{ title }}'
    description: '{{ description }}'
    preloadImg: '{{ imageUrl[0] }}'
    permalink: '/product/{{ title | slug }}/index.html'
---


{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/product.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                 Collection                   -->
<!-- ============================================ -->

<section id="collection-1596">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-tag">Only {{price}}</span>
            <h2 class="cs-title">Featured Products</h2>
            <h3 class="cs-product-name">{{name}}</h3>
            <span class="cs-price">{{price}}</span>

            <p class="cs-text">
               {{description}}
            </p>
            <a  class="cs-button-solid">SOLD OUT</a>
        </div>
        <div class="cs-card-group">
            <li class="cs-item">



                <section style="background: var(--bodyColor);">
                    <div class="containerw">
                        <div class="carousel">
      
                            {%- for img in imageUrl -%}
                            <input type="radio"  name="slides" id="slide-{{loop.index}}">
                            {% endfor %}

                            <ul class="carousel__slides">
                                {%- for img in imageUrl -%}

                                <li class="carousel__slide">
                                    <figure>
                                        <div>
                                            <img class="mainImg" src="{{img}}" alt="{{imageAlt}}">
                                        </div>      
                                    </figure>
                                </li>

                                {% endfor %}
                            </ul>
                      

                            <ul class="carousel__thumbnails">

                                {%- for img in imageUrl -%}
                                <li>
                                    <label for="slide-{{loop.index}}"><img class="thumnailImg" src="{{img}}" alt="{{imageAlt}}"></label>
                                </li>
                                {% endfor %}
                            </ul>                                                
                        </div>
                    </div>
                </section>

                    
                    <!-- <picture class="cs-picture">
 
                        <source media="(max-width: 600px)" srcset="{{imageUrl}}">
                
                        <source media="(min-width: 601px)" srcset="{{imageUrl}}">
                        <img loading="lazy" decoding="async" src="{{imageUrl}}" alt="{{imageUlt}}" width="1280" height="568">
                    </picture> -->
               
            </li>
        </div>
    </div>
</section>
                                

{% endblock %}