---
title: 'About Us'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'About-Us/'
eleventyNavigation:
    key: About Us
    order: 150
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1431">
{% include 'components/hexiBackground.html' %}
    
    <div class="cs-container">
        <div class="cs-image-group">
            <!-- Person Picture -->
            <!-- To make your own crops of people, use this tool to remove the backgorund of images https://www.remove.bg/ -->
            <picture class="cs-person">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteer.png">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteer.png">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/volunteer.png" alt="volunteer" width="702" height="617" aria-hidden="true">
            </picture>
        </div>
        <div class="cs-content">
            <h2 class="cs-title">About Us</h2>
            <p class="cs-text">
               


Welcome to BundlBees, where we're all about creating curated boxes that are as sweet as honey! Just like our buzzing buddies, we're dedicated to gathering the finest treasures from around the world and bundling them up for your enjoyment. Our hive-mind team carefully selects each item, ensuring a delightful mix of goodies that will have you waggle dancing with joy.

At BundlBees, we're committed to making your experience as smooth as honey. With our fast and reliable service, you can count on your curated box arriving in no time, so you can spend less time waiting and more time delighting in your treasures. So why not join our hive and experience the buzz for yourself? Let BundlBees be your guide to curated box bliss!
            </p>
               
        </div>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}