---
title: 'FAQ'
description: 'Meta description for the page'
preloadImg: ''
permalink: 'FAQ/'
eleventyNavigation:
    key: FAQ
    order: 175
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/faq.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-993">
{% include 'components/hexiBackground.html' %}

    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">FAQ’s</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <p class="cs-text">
                At BundlBees, we believe in only giving quality service and experience you cannot find in many other places. BundlBees is here when you’re ready to snack!
            </p>
        </div>
        <div class="cs-flex-group">
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What is BundlBees?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        BundlBees is an online platform that offers curated boxes filled with handpicked treasures from around the world. Our curated boxes feature a variety of items carefully selected to delight and surprise you.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How does BundlBees work?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        It's simple! Browse through our curated box options, each designed with a unique theme or purpose in mind. Once you find the perfect box, add it to your cart and proceed to checkout. We'll take care of the rest, packaging up your curated box and sending it straight to your doorstep.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What types of curated boxes does BundlBees offer?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We offer a diverse range of curated boxes to suit various tastes and interests. From gourmet food and beverage boxes to wellness and lifestyle boxes, there's something for everyone at BundlBees. We also offer seasonal and special occasion boxes, perfect for gifting or treating yourself.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Can I customize my curated box?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        At this time, we do not offer customization options for our curated boxes. However, we're constantly updating our offerings to provide a wide variety of themes and items to choose from.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How can I contact BundlBees for further assistance?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        If you have any additional questions or concerns, please don't hesitate to reach out to us through our Contact Us page. Our friendly customer service team is here to help!
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
</section>
                                
                                               

    {% include 'components/cta.html' %}

{% endblock %}