---
title: 'Offers'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'offers/'
eleventyNavigation:
    key: Offers
    order: 250
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    ============================================
    <!--                    LANDING                   -->
    <!-- ============================================ -->
                    

    {% include 'components/cta.html' %}

{% endblock %}