---
title: 'Terms and Conditions'
description: 'BundlBees Terms and Conditions'
preloadImg: '/assets/images/about-us.png'
permalink: 'terms/'
---

{% extends "layouts/base.html" %}

{% block head %}
{% endblock %}

{% block body %}


<section style="padding: 20px; margin-top: 190px; width: 80%; margin-left: auto; margin-right: auto;">
{% include 'components/hexiBackground.html' %}
    
    <div class="cs-container">

        <h1>Terms and Conditions</h1>
        <p>Welcome to BundleBees! By accessing our website and purchasing our products, you agree to comply with and be bound by the following terms and conditions of use:</p>
     
        <h2>1. Privacy Policy</h2>
        <p>Please review our Privacy Policy to understand how we collect, use, and protect your personal information.</p>
    
        <h2>2. Governing Law</h2>
        <p>These terms and conditions are governed by and construed in accordance with the laws of [Your Country/State], and you irrevocably submit to the exclusive jurisdiction of the courts in that location.</p>
    
        <p>By using this website and purchasing our products, you agree to these terms and conditions in their entirety. If you do not agree with any part of these terms and conditions, please do not use our website or place an order with BundleBees.</p>
    </div>


</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}