---
title: 'Terms and Conditions'
description: 'BundlBees Terms and Conditions'
preloadImg: '/assets/images/about-us.png'
permalink: 'terms/'
---

{% extends "layouts/base.html" %}

{% block head %}
{% endblock %}

{% block body %}


<section style="padding: 20px; margin-top: 190px; width: 80%; margin-left: auto; margin-right: auto;">
{% include 'components/hexiBackground.html' %}
    
    <div class="cs-container">

        <h1>Terms and Conditions</h1>
        <p>Welcome to BundleBees! By accessing our website and purchasing our products, you agree to comply with and be bound by the following terms and conditions of use:</p>
    
        <h2>1. Use of Website</h2>
        <ul>
            <li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
            <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness, or suitability of the information and materials found or offered on this website for any particular purpose.</li>
            <li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable.</li>
        </ul>
    
        <h2>2. Product Information</h2>
        <ul>
            <li>We strive to provide accurate descriptions and images of our products. However, variations in color, appearance, and packaging may occur.</li>
            <li>All products and prices are subject to change without notice. Prices listed are in the currency specified and do not include shipping charges, taxes, or duties unless otherwise stated.</li>
            <li>We reserve the right to limit the quantity of products purchased by any customer or to refuse service to anyone for any reason at any time.</li>
        </ul>


        <h2>3. Ordering and Payment</h2>
        <ul>
            <li>By placing an order with BundleBees, you agree to provide accurate and complete information about yourself, including billing and shipping details.</li>
            <li>Payment is due at the time of order placement. We accept major credit cards and other forms of payment as indicated on our website.</li>
            <li>Your order is subject to acceptance and fulfillment by BundleBees. We will notify you if there are any issues with your order or if additional information is required for processing.</li>
        </ul>
    
        <h2>4. Shipping and Delivery</h2>
        <ul>
            <li>Shipping times and costs are provided at checkout and may vary depending on the destination and shipping method selected.</li>
            <li>We are not responsible for delays in shipping or delivery due to factors beyond our control, such as weather conditions, carrier delays, or customs processing.</li>
            <li>Once your order has been shipped, you will receive a tracking number to monitor the progress of your shipment.</li>
        </ul>
    
        <h2>5. Returns and Refunds</h2>
        <ul>
            <li>If you are not satisfied with your order for any reason, please contact us within 14 days of receiving your order to request a return or exchange.</li>
            <li>Returned items must be in their original condition and packaging, unused and unopened, unless the item is defective or damaged upon arrival.</li>
            <li>Refunds will be issued to the original form of payment within a reasonable timeframe after the returned items are received and inspected.</li>
        </ul>
    
        <h2>6. Intellectual Property</h2>
        <ul>
            <li>This website contains material that is owned by or licensed to us. Reproduction is prohibited other than in accordance with the copyright notice.</li>
            <li>All trademarks reproduced on this website, which are not the property of, or licensed to the operator, are acknowledged on the website.</li>
        </ul>
    
        <h2>7. Privacy Policy</h2>
        <p>Please review our Privacy Policy to understand how we collect, use, and protect your personal information.</p>
    
        <h2>8. Governing Law</h2>
        <p>These terms and conditions are governed by and construed in accordance with the laws of [Your Country/State], and you irrevocably submit to the exclusive jurisdiction of the courts in that location.</p>
    
        <p>By using this website and purchasing our products, you agree to these terms and conditions in their entirety. If you do not agree with any part of these terms and conditions, please do not use our website or place an order with BundleBees.</p>
    </div>


</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}