/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-3rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    #hero-1353 {
        /* 250px - 500px - leaving extra space for the navigation */
        padding: clamp(8.625rem, 35.95vw, 1rem) calc(16 / 16 * 1rem) 0;
        padding-bottom: 0;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        z-index: 1;

 

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: calc(12 / 16 * 1rem);
            position: relative;
            z-index: 1;
        }

        .cs-input {
            font-size: calc(16 / 16 * 1rem);
            width: 100%;
            /* 46px - 72px */
            height: clamp(2.875rem, 8vw, 4.5rem);
            margin: 0;
            padding: 0;
            padding-left: calc(20 / 16 * 1rem);
            border: none;
            border-radius: calc(80 / 16 * 1rem);
            /* prevents padding from adding to width and height */
            box-sizing: border-box;
            display: block;
            &::placeholder {
                color: #767676;
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            overflow: hidden;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(32 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(80 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                cursor: pointer;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-submit {
            width: 100%;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: inherit;
            letter-spacing: 0.1em;
            font-weight: 700;
            color: var(--primary);
            margin-bottom: calc(8 / 16 * 1rem);
            display: block;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            max-width: 20ch;
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: #000;
            position: relative;
        }

        .cs-text {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            /* 464px - 622px */
            max-width: clamp(29rem, 60vw, 38.785rem);
            margin: 0 0 calc(40 / 16 * 1rem) 0;
            color: #000
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            line-height: calc(56 / 16 * 1rem);
            text-decoration: none;
            font-weight: 700;
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0 calc(48 / 16 * 1rem);
            border-radius: calc(30 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #fff;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: var(--primary);
                &:before {
                    width: 100%;
                }
            }
        }
      

        .cs-picture {
            width: 100%;
            /* 427px - 621px */
            max-width: clamp(2.6875rem, 50vw, 27.8125rem);
            rotate: 5deg;
            height: auto;
            display: flex;
            align-items: flex-end;
            position: relative;
            z-index: 7;

            img {
                width: 100%;
                height: auto;
            }

            animation-name: floatAnimation;
            animation-duration: 7s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
        }

        .cs-bubbles {
            /* this scales the children inside of it down. They're all in ems so they pull from the parent font size for their value of em, in this case, the value of em is tied to the viewwidth size and stops growing when the font size is equal to 1em, which it pulls from the nearst parent with a declred font size (which is the html tag, and that tag is 16px by default) */
            font-size: min(2.9vw, 0.9em);
            position: absolute;
            z-index: -1;
        }

        .cs-bubbles1 {
            width: calc(680 / 16 * 1em);
            height: calc(724 / 16 * 1em);
            right: calc(-190 / 16 * 1rem);
            /* changes to 172 at large desktop */
            bottom: calc(-100 / 16 * 1em);

            &:before {
                /* white border bubble */
                content: "";
                width: calc(200 / 16 * 1em);
                height: calc(200 / 16 * 1em);
                border: 1px solid #fff;
                border-radius: 50%;
                background: #000;
                opacity: 1;
                position: absolute;
                display: block;
                top: 105px;
                left: 150px;
                animation-name: floatAnimation;
                animation-duration: 7s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }

            &:after {
                /* orange bubble */
                content: "";
                width: calc(300 / 16 * 1em);
                height: calc(300 / 16 * 1em);
                background: var(--primary);
                opacity: 0.8;
                border-radius: 50%;
                display: block;
                position: absolute;
                bottom: 145px;       
                right: 30px;
                z-index: -1;
                animation-name: floatAnimation2;
                animation-duration: 10s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
            }
        }

        

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                /* makes the top of the image start at the top of the parent */
                object-position: top;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1353 {
        /* 180px - 250px */
        padding: clamp(12.625rem, 35.95vw, 1rem) 1rem 0;
        padding-bottom: clamp(25.25rem, 16.5vw, 15.625rem);

        .cs-container {
            flex-direction: row;
            justify-content: flex-end;
        }

        .mobile-cs-picture{
            display: none;
        }

        .cs-content {
            text-align: left;
            width: 53%;
            align-items: flex-start;
        }

        .cs-picture {
            width: 100%;
            position: absolute;
            bottom: calc(-400 / 16 * 1rem);
            left: calc(-230 / 16 * 1rem);
        }

        .cs-bubbles {
            font-size: 1em;
        }

        .cs-bubbles1 {
            /* changes to auto at large desktop */
            left: calc(-300 / 16 * 1rem);
        }

        .cs-bubbles2 {
            left: auto;
            right: calc(-260 / 16 * 1rem);
        }

        
        .cs-input {
            width: 100%;
        }

        .cs-submit {
            width: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: calc(8 / 16 * 1rem);
            border: none;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 48rem) {
    #hero-1353 {
        
        .cs-picture {
            bottom: calc(-230 / 16 * 1rem);
        }
        .cs-bubbles1{

            &:before {
                background: var(--primary);
                top: 0;
                left: 0;
                width: calc(622 / 16 * 1em);
                height: calc(622 / 16 * 1em);
            }
            &:after {
                background: #000;
                right: 0;
                bottom: 0;
                width: calc(546 / 16 * 1em);
                height: calc(546 / 16 * 1em);
            }
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #hero-1353 {
        .cs-container {
            position: initial;
        }

        .cs-picture {
            margin-right: calc(70 / 16 * 1rem);
            right: 50%;
            left: auto;
            bottom: 280px;
            rotate: 8deg;
        }

        .cs-bubbles1 {
            /* 200px - 580px */
            margin-right: clamp(12.5rem, 35vw, 36.25rem);
            top: calc(172 / 16 * 1rem);
            left: auto;
            bottom: auto;
            right: 50%;
        }
    }
}

/* Large Desktop Parallax Effect - 1600px */
@media only screen and (min-width: 100rem) {
    #hero-1353 {
        .cs-background {
            background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/abstract.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            img {
                display: none;
            }
        }
    }
}

/* Larger Desktop - 1800px */
@media only screen and (min-width: 112.5rem) {
    #hero-1353 {
        .cs-bubbles2 {
            margin-left: calc(800 / 16 * 1rem);
            left: 50%;
            right: auto;
            top: calc(210 / 16 * 1rem);
            bottom: auto;
        }
    }
}

   


/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-1173 {
        padding: var(--sectionPadding);
        padding-top: 40px;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-title{
            color: #000;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(704 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: calc(650 / 16 * 1rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            grid-template-columns: repeat(14, 1fr);
            gap: calc(20 / 16 * 1rem);
        }
        .nextArrow{
            display: none;
        }
        .cs-item {
            text-align: center;
            list-style: none;
            display: flex;
            grid-column: span 12;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin: 60px 0;
        }

        .cs-picture {
            margin-bottom: calc(24 / 16 * 1rem);
            width: calc(88 / 16 * 1rem);
            height: calc(88 / 16 * 1rem);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: calc(40 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: calc(1.8 * 1rem);
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: calc(1.4 * 1rem);
            line-height: 1.5em;
            text-align: inherit;
            max-width: calc(413 / 16 * 1rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-graphic {
            width: calc(840 / 16 * 1rem);
            height: auto;
            opacity: 0.3;
            position: absolute;
            top: calc(-80 / 16 * 1rem);
            left: calc(-80 / 16 * 1rem);
            z-index: -1;
            transform: rotate(-10deg);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-1173 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }
        .nextArrow{
            display: block;
        }
        .cs-card-group {
            display: grid;
        }
        .cs-item {
            grid-column: span 4;
            margin: 0;
            &:nth-of-type(1) {
                &:after {
                    transform: rotate(135deg) scaleX(-1);
                }
            }

            &:after {
                margin: 0;
                position: absolute;
                right: calc(-40 / 16 * 1rem);
                top: 0;
                transform: rotate(45deg);
            }
        }
    }
}

                                
/*-- -------------------------- -->
<---        Collection          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #collection-1570 {
        padding: var(--sectionPadding);
        padding-bottom: 0px;

        .cs-container {
            width: 100%;
            max-width: calc(1480 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            /* breaks up the parent div so the children are no longer bound by it.  Now the children can be children of the cs-container and allow us to arrange their order with the cs-card-group */
            display: contents;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            order: 3;
        
            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover:before {
                width: 100%;
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            justify-items: center;
            position: relative;
            grid-template-columns: repeat(auto-fit, minmax(19.0625rem, 1fr));
            /* 16px - 20px */
            column-gap: clamp(1rem, 3vw, 1.25rem);
            /* 16px - 40px */
            row-gap: clamp(1rem, 3vw, 2.5rem);
            transform-style: preserve-3d;
        }

        .cs-item {
            width: 100%;
            max-width: calc(296 / 16 * 1rem);
            padding: calc(20 / 16 * 1rem);
            box-shadow: 0 0 4px 5px rgb(233, 233, 233);;
            border-radius: 8px;
            background-color: var(--bodyColor);

            &:hover .cs-picture img {
                transform: scale(1.05);
            }
        }

        .cs-link {
            text-decoration: none;
        }

        .cs-image-group {
            width: auto;
            height: calc(300 / 16 * 1rem);
            margin-bottom: calc(20 / 16 * 1rem);
            position: relative;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            background-color: #f6f6f6;
            display: block;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: transform .3s;
            }
        }
        .cs-offer {
            font-size: calc(13 / 16 * 1rem);
            font-weight: 700;
            line-height: 1.2em;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            padding: calc(6 / 16 * 1rem);
            color: #fff;
            background: #ff4747;
            position: absolute;
            top: calc(12 / 16 * 1rem);
            right: calc(12 / 16 * 1rem);
        }

        .cs-tags {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            color: #767676;
        }

        .cs-product {
            /* 20px - 24px */
            font-size: clamp(1.25rem, 3vw, 1.5rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-wrapper {
            margin-top: calc(20 / 16 * 1rem);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .cs-info {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .cs-price {
            font-size: calc(20 / 16 * 1rem);
            font-weight: 700;
            line-height: 1.2em;
            color: var(--primary);
        }

        .cs-old-price {
            font-size: calc(16 / 16 * 1rem);
            font-weight: 700;
            line-height: 1.2em;
            text-decoration: line-through;
            color: #767676;
        }

        .cs-stars {
            width: calc(92 / 16 * 1rem);
            margin-top: calc(4 / 16 * 1rem);
            display: flex;
        }

        .cs-buy {
            max-height: calc(40 / 16 * 1rem);
            padding: calc(8 / 16 * 1rem);
            background: none;
            border: 1px solid var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .cs-bubbles {
        /* this scales the children inside of it down. They're all in ems so they pull from the parent font size for their value of em, in this case, the value of em is tied to the viewwidth size and stops growing when the font size is equal to 1em, which it pulls from the nearst parent with a declred font size (which is the html tag, and that tag is 16px by default) */
        font-size: min(2.9vw, 0.9em);
        position: relative;
        z-index: -1;
    }

    .cs-bubbles1 {
        width: calc(250 / 16 * 1em);
        height: calc(250 / 16 * 1em);
        right: calc(-190 / 16 * 1rem);
        /* changes to 172 at large desktop */
        bottom: calc(200 / 16 * 1em);

        &:before {
            content: "";
            width: calc(135 / 16 * 1em);
            height: calc(135 / 16 * 1em);
            background: var(--primary);
            border: 1px solid #fff;
            border-radius: 50%;
            opacity: 1;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            animation-name: floatAnimation;
            animation-duration: 7s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
        }
        
        &:before:hover {
            background: #000;

        }

        &:after {
            content: "";
            width: calc(120 / 16 * 1em);
            height: calc(120 / 16 * 1em);
            background: #000;
            opacity: 0.8;
            border-radius: 50%;
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
            animation-name: floatAnimation2;
            animation-duration: 10s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
        }
    }

}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #collection-1570 {
        .cs-content {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: calc(48 / 16 * 1rem);
        }

        .cs-item {
            max-width: none;
        }

        .cs-image-group {
            height: clamp(12rem, 23vw, 20rem);
        }
    }
    .cs-bubbles {
        font-size: 1em;
    }

    .cs-bubbles1 {
        /* changes to auto at large desktop */
        left: calc(-300 / 16 * 1rem);
    }

    .cs-bubbles2 {
        left: auto;
        right: calc(-260 / 16 * 1rem);
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #collection-1570 {
        .cs-card-group {
            grid-template-columns: repeat(4, 1fr);
        }
        .cs-bubbles1 {
            /* 200px - 580px */
            margin-right: clamp(12.5rem, 35vw, 36.25rem);
            top:auto;
            left: 86%;
            bottom:  calc(260 / 16 * 1rem);
            right:auto;
        }
    }
    
}
   



/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-262 {
        padding: var(--sectionPadding);
        padding-top: 0px;
        .cs-title{
            color: var(--primary);
        }
        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            /* 32px - 88px top & bottom */
            /* 24px - 88px left & right */
            padding: clamp(2em, 6.3vw, 5.5em) clamp(1.5em, 5.7vw, 5.5em);
            border-radius: calc(16 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: calc(32 / 16 * 1rem);
            position: relative;
            /* clips the corners for the border radius to show */
            overflow: hidden;
            z-index: 1;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1;

            &:before {
                /* black overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.7;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            &:after {
                /* brown overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primaryLight);
                opacity: 0.2;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 2;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-left-section {
            max-width: calc(434 / 16 * 1rem);
        }
        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            line-height: calc(56 / 16 * 1rem);
            text-decoration: none;
            font-weight: 700;
            margin: auto;
            color: #fff;
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            /* 12px - 20px */
            gap: clamp(0.75rem, 1.6vw, 1.25rem);
        }

        .cs-header {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.4vw, 1.5625rem);
            font-weight: bold;
            color: var(--primaryLight);
            display: block;
        }

        .cs-p {
            /* 14px - 20px */
            font-size: clamp(0.875rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cta-262 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            align-items: flex-end;
            text-align: right;
            /* prevents flexbox from squishing it */
            flex: none;
        }
    }
}






@media only screen and (min-width: 0rem) {

    #floating-bee-container{
        display: flex;
    
        .floating-bee{
            margin-left: auto;
            margin-right: auto;
            height: 200px;
        }
        
            
    }
}

@media only screen and (min-width: 48rem) {
    
    #floating-bee-container{
        .floating-bee{
            height: 300px;
        }
    }

}

                            