/*-- -------------------------- -->
<---        Collection          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #collection-1596 {
        padding: clamp(12.75rem, 7.82vw, 6.25rem) 1rem;
        
        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(500 / 16 * 1rem);
            /* pushes it to the left */
            margin-right: auto;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-tag {
            font-size: calc(13 / 16 * 1rem);
            line-height: calc(24 / 16 * 1rem);
            font-weight: 700;
            letter-spacing: .1em;
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            padding: 0 calc(8 / 16 * 1rem);
            color: var(--bodyTextColorWhite);
            background-color: var(--secondary);
            display: block;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: red;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 16px - 20px */
            column-gap: clamp(1rem, 3vw, 1.25rem);
            /* 16px - 40px */
            row-gap: clamp(1rem, 3vw, 2.5rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            margin: 0;
            padding: 0;

            &:hover {
                .cs-picture {
                    background-color: rgba(0, 0, 0, .1);
                    img {
                        transform: scale(1.05);
                    }
                }
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-picture {
            width: 100%;
            height: 100vw;
            min-height: calc(240 / 16 * 1rem);
            max-height: calc(400 / 16 * 1rem);
            /* 12px - 20px */
            margin: 0 0 clamp(.75rem, 2vw, 1.25rem);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            transition: background-color .3s;

            img {
                width: 100%;
                max-width: calc(250 / 16 * 1rem);
                height: auto;
                max-height: 80%;
                object-fit: contain;
                transition: transform .3s;
            }
        }

        .cs-product-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 calc(4 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .cs-price {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--primary);
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #collection-1596 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-card-group {
            width: 40%;
            flex-direction: row;
            align-items: stretch;
            /* prevents flexbox from squishing it */
            flex: none;
            /* sends it to the right in the 1st position */
            order: -1;
        }

        .cs-item {
            &:first-of-type {
                .cs-picture {
                    /* 160px - 320px */
                    height: clamp(10rem, 26vw, 20rem);
                    min-height: calc(160 / 16 * 1rem);

                    img {
                        transform: scale(1.8);
                        width: 100%;
                    }
                }
            }
        }

        .cs-link {
            height: 100%;
            justify-content: center;
        }

        .cs-picture {
            /* 400px - 520px */
            height: clamp(25rem, 50vw, 32.5rem);
            min-height: auto;
            max-height: 100%;
        }
    }
}
                                